/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.frame {
  margin: 40px;
}

.title {
  color: #333;
}

.frame-body {
  margin: 40px;
}

.frame-body p {
  margin-bottom: 50px;
}

.table-title {
  width: 200px;
}

.table-body {
  width: 500px
}

.link-tag {
  margin-right: 10px;
}

.create-area {
  margin-top: 100px;
}

.show-frame {
  font-size: 16px;
  margin: 35px;
}

.show-content {
  margin-bottom: 40px;
}

.edit-content {
  margin: 0;
}

.update-button {
  margin: 20px 0;
}

.flash {
  margin: 40px;
}

.flash.success {
  color: #88cb7f;
}